.conv {
  padding: 2.5rem 1rem 1.5rem 1rem;
  * {
    margin: 0;
  }
  &__title {
    font-family: "avenir-demi";
    @include header-m;
    padding-bottom: 2rem;
  }
  &__join {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $mercury;
    &-left {
      transform: translateY(1.5rem);
      font-size: 0;
      line-height: 0;
      img {
        width: 3rem;
        border-radius: 50%;
      }
    }
    &-right {
      width: 100%;
      margin-left: 1rem;
      &-title {
        @include paragraph-m;
        font-family: "avenir-demi";
        color: $silver;
        margin-bottom: 0.5rem;
      }
      &-input {
        @include paragraph-m;
        padding: 0.5rem;
        height: 5.75rem;
        border: 1px solid $silver;
        border-radius: 4px;
        background-color: $alabaster;
        width: 100%;
        &:focus {
          border-width: 3px;
          border-color: $brainflix-blue-dark;
        }
      }
      &-button {
        margin: 1rem 0 1.5rem 0;
      }
    }
  }
}

@include tablet {
  .conv {
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    &__join {
      padding-bottom: 1.5rem;
      &-right {
        display: flex;
        flex-wrap: wrap;
        &-title {
          flex: 100%;
          margin-bottom: 0.2rem;
        }
        &-input {
          height: 3rem;
          flex: 0.7251;
          margin-right: 1rem;
        }
        &-button {
          margin: 0 2.5rem 0 0;
          flex: 0.2749;
        }
      }
    }
  }
}
